<h1 class="display-4 text-center mt-5">Database Overview</h1>

<div class="container mt-4">
  <p class="lead text-muted text-center">
    Here you can find an overview of all available property listings in the system.
  </p>

  <div class="text-center mt-4">
    <%= link_to "View All Properties", wohnungs_path, class: "btn btn-outline-dark mb-4" %>
  </div>
</div>
