<h1 style="text-align: center; margin-top: 50px;">Edit property</h1>

<%= render "form", wohnung: @wohnung %>

<br>

<div style="text-align: center; margin-top: 20px;">
  <%= link_to "Show this property", @wohnung %> |
  <%= link_to "Back to properties", wohnungs_path %>
</div>
